body {
    font-family: Arial, sans-serif;
    background-color: #f7f9fc; 
    margin: 0;
    padding: 0;
    color: #333;
  }
  
  .container {
    max-width: 600px;
    margin: 50px auto;
    background: #ffffff; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
  
  h1 {
    text-align: center;
    color: #4CAF50; 
  }
  
  label {
    display: block;
    margin: 15px 0 5px;
    font-weight: bold;
    color: #555; 
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    background-color: #007BFF; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3; 
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    background: #f1f1f1;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    color: #333; 
  }
  .person-input {
    margin-bottom: 10px;
  }
  
  .personDetails {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
  }  